.accordion-primary {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--primary);
  --accordion-summary-bg: var(--primary);
  --accordion-bd-color: var(--primary-2);
  --accordion-bg-focus: var(--primary-4);
}

.accordion-success {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--success);
  --accordion-summary-bg: var(--success);
  --accordion-bd-color: var(--success-2);
  --accordion-bg-focus: var(--success-4);
}

.accordion-danger {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--danger);
  --accordion-summary-bg: var(--danger);
  --accordion-bd-color: var(--danger-2);
  --accordion-bg-focus: var(--danger-4);
}

.accordion-info {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--info);
  --accordion-summary-bg: var(--info);
  --accordion-bd-color: var(--info-1);
  --accordion-bg-focus: var(--info-2);
}

.accordion-warning {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--warning);
  --accordion-summary-bg: var(--warning);
  --accordion-bd-color: var(--warning-1);
  --accordion-bg-focus: var(--warning-2);
}

.accordion-secondary {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--secondary);
  --accordion-summary-bg: var(--secondary);
  --accordion-bd-color: var(--secondary-1);
  --accordion-bg-focus: var(--secondary-2);
}
