:where(html) {
  --text: light-dark(#000, #fff);
  --background: light-dark(#eaecee, #1f2428);
  --link: light-dark(#1c3db5, #9fbfdf);
  --link-visited: light-dark(#4f6fe3, #b3cce6);
  --link-hover: light-dark(#385de0, #c6d8ec);

  --primary: #2d2d86;
  --primary-1: color-mix(in srgb, var(--primary) 58%, #fff);
  --primary-2: color-mix(in srgb, var(--primary) 72%, #fff);
  --primary-3: color-mix(in srgb, var(--primary) 87%, #fff);
  --primary-4: var(--primary);
  --primary-5: color-mix(in srgb, var(--primary) 85%, #000);
  --primary-6: color-mix(in srgb, var(--primary) 72%, #000);
  --primary-7: color-mix(in srgb, var(--primary) 60%, #000);
  
  --success: #196719;
  --success-1: color-mix(in srgb, var(--success) 60%, #fff);
  --success-2: color-mix(in srgb, var(--success) 75%, #fff);
  --success-3: color-mix(in srgb, var(--success) 87%, #fff);
  --success-4: var(--success);
  --success-5: color-mix(in srgb, var(--success) 80%, #000);
  --success-6: color-mix(in srgb, var(--success) 62%, #000);
  --success-7: color-mix(in srgb, var(--success) 47%, #000);
  
  --danger: #961d1d;
  --danger-1: color-mix(in srgb, var(--danger) 60%, #fff);
  --danger-2: color-mix(in srgb, var(--danger) 74%, #fff);
  --danger-3: color-mix(in srgb, var(--danger) 89%, #fff);
  --danger-4: var(--danger);
  --danger-5: color-mix(in srgb, var(--danger) 88%, #000);
  --danger-6: color-mix(in srgb, var(--danger) 78%, #000);
  --danger-7: color-mix(in srgb, var(--danger) 68%, #000);
  
  --info: #00ffff;
  --info-1: color-mix(in srgb, var(--info) 35%, #fff);
  --info-2: color-mix(in srgb, var(--info) 45%, #fff);
  --info-3: color-mix(in srgb, var(--info) 65%, #fff);
  --info-4: var(--info);
  --info-5: color-mix(in srgb, var(--info) 85%, #443e09);
  --info-6: color-mix(in srgb, var(--info) 75%, #443e09);
  --info-7: color-mix(in srgb, var(--info) 65%, #443e09);
  
  --warning: #ffd700;
  --warning-1: color-mix(in srgb, var(--warning) 40%, #fff);
  --warning-2: color-mix(in srgb, var(--warning) 60%, #fff);
  --warning-3: color-mix(in srgb, var(--warning) 80%, #fff);
  --warning-4: var(--warning);
  --warning-5: color-mix(in srgb, var(--warning) 90%, #000);
  --warning-6: color-mix(in srgb, var(--warning) 82%, #000);
  --warning-7: color-mix(in srgb, var(--warning) 77%, #000);
  
  --secondary: #b3b3b3;
  --secondary-1: color-mix(in srgb, var(--secondary) 55%, #fff);
  --secondary-2: color-mix(in srgb, var(--secondary) 65%, #fff);
  --secondary-3: color-mix(in srgb, var(--secondary) 75%, #fff);
  --secondary-4: var(--secondary);
  --secondary-5: color-mix(in srgb, var(--secondary) 80%, #000);
  --secondary-6: color-mix(in srgb, var(--secondary) 70%, #000);
  --secondary-7: color-mix(in srgb, var(--secondary) 60%, #000);
}
