:where(html) {
  --text: light-dark(#000, #fff);
  --background: light-dark(#f1f2f4, #1f2428);
  --link: light-dark(#1c3db5, #9fbfdf);
  --link-visited: light-dark(#4f6fe3, #b3cce6);
  --link-hover: light-dark(#385de0, #c6d8ec);
  --surf-1: color-mix(in srgb, CanvasText 5%, var(--background));
  --surf-2: color-mix(in srgb, CanvasText 10%, var(--background));
  --surf-3: color-mix(in srgb, CanvasText 20%, var(--background));
}
