.accordion-primary {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--primary);
  --accordion-bd-color: var(--primary-3);
}

.accordion-success {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--success);
  --accordion-bd-color: var(--success-3);
}

.accordion-danger {
  color-scheme: dark;
  --accordion-fg: #fff;
  --accordion-bg: var(--danger);
  --accordion-bd-color: var(--danger-2);
}

.accordion-info {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--info);
  --accordion-bd-color: var(--info-2);
}

.accordion-warning {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--warning);
  --accordion-bd-color: var(--warning-1);
}

.accordion-secondary {
  color-scheme: light;
  --accordion-fg: #000;
  --accordion-bg: var(--secondary);
  --accordion-bd-color: var(--secondary-3);
}
