.badge-primary {
  color-scheme: dark;
  --badge-fg: #fff;
  --badge-bg: var(--primary);
  --badge-bd-color: var(--primary-2);
}

.badge-success {
  color-scheme: dark;
  --badge-fg: #fff;
  --badge-bg: var(--success);
  --badge-bd-color: var(--success-2);
}

.badge-danger {
  color-scheme: dark;
  --badge-fg: #fff;
  --badge-bg: var(--danger);
  --badge-bd-color: var(--danger-2);
}

.badge-info {
  color-scheme: light;
  --badge-fg: #000;
  --badge-bg: var(--info);
  --badge-bd-color: var(--info-1);
}

.badge-warning {
  color-scheme: light;
  --badge-fg: #000;
  --badge-bg: var(--warning);
  --badge-bd-color: var(--warning-1);
}

.badge-secondary {
  color-scheme: light;
  --badge-fg: #000;
  --badge-bg: var(--secondary);
  --badge-bd-color: var(--secondary-1);
}
