.alert,
[class*=alert-] {
  color: var(--alert-fg, var(--text, CanvasText));
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline: var(--alert-px, 1rem);
  border: var(--alert-bd-width, var(--border-width, 1px)) solid var(--alert-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--alert-radius, var(--border-radius, 0.188rem));
  background-color: var(--alert-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas)));
  
  :last-of-type:is(p, ol, ul, dl) {
    margin-block-end: 0;
  }
}

dialog[open]:is(.alert, [class*=alert-]) {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: initial;
  margin-block-end: var(--alert-mb, 1rem);
  padding-inline-end: 3rem;
  
  .close-alert {
    --ico: var(--alert-fg, CurrentColor);
    --svg: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m2.47 3.53 1.06-1.06 4.47 4.47 4.47-4.47 1.06 1.06-4.47 4.47 4.47 4.47-1.06 1.06-4.47-4.47-4.47 4.47-1.06-1.06 4.47-4.47z'/></svg>");
    position: absolute;
    inset-block-start: 0.5rem;
    inset-inline-end: 0.75rem;
    padding-block: 0.15rem;
    padding-inline: 0.475rem;
    border-color: transparent;
    background-color: transparent;
    
    &:focus-visible {
      --ico: #fff;
      outline: none;
      background-color: red;
    }
    
    &:before {
      display: inline-block;
      content: "";
      block-size: 1em;
      inline-size: 1em;
      vertical-align: -0.15em;
      background-color: var(--ico);
      mask: var(--svg) no-repeat;
    }
  }
  
  p {
    padding-inline-end: 2.5rem;
  }
}